<div>
  <h2>My Characters</h2>
  <filter-text [text]="filterText" (changed)="filterChanged($event)"></filter-text>
  <ul class="characters">
    <li *ng-for="#character of filteredCharacters | sortCharacters"
      [ng-class]="getSelectedClass(character)"
      (click)="onSelect(character)">
      <span class="badge">{{character.id}}</span> {{character.name | initCaps}}</a>
    </li>
  </ul>
  <div *ng-if="selectedCharacter">
    <h2>{{selectedCharacter.name}} is my Character</h2>
		<button (click)="goDetail()">View Details</button>
    <taba-character-detail [character]="selectedCharacter"></taba-character-detail>
  </div>
</div>
